::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-track{
  background-color:#1a1a1a;
  border-left:1px solid #7d7e7d;
}

::-webkit-scrollbar-thumb{
  background-color:#666;
}

::-webkit-scrollbar-thumb:hover{
  background-color:#7d7e7d;
}

body{
  color:#999; 
  background-color: #5d5d5d;
}

a{
  color:#aaa;
}

a:visited{
  color:#666;
}

a:hover{
  text-decoration:underline;
}

#php_user_info{
  height:38px;
  width:100%;
  min-width:350px;
  max-width:960px;
  display:block;
  margin: 10px auto;
 
  border: solid 1px #7d7e7d;

  background: #1a1a1a;
}

#php_user_info p{
  float:left;
  padding:0px 5px;
  
  font-size:12px;
  color: #999;
}

#php_user_info ul{
  float:right;
  padding:0px 5px;

  font-size:12px;
  list-style-type: none;
}

#php_user_info ul li{
  display:inline;
  padding-right:5px;
}

#php_user_info ul li:last-of-type{
  padding-right:0px;
}

#chat_area, #command_area {
  width:100%;
  min-width:350px;
  max-width:960px;
  display:block;
  float:none;
  margin:0em auto;
}

#command_area form input.chat_input, #command_area .text_area{
  font-family:"Courier New", Courier, monospace;
}

.text_area {
  height: 300px;
  width: 100%;
  min-width: 300px;  
  margin:0px;
  padding:0px;
  
  border: solid 1px #7d7e7d;
  border-radius:0px;
  outline: none;  
  
  background: #1a1a1a;
  overflow: auto;
}

.text_area p {
  padding:2px 5px;
  margin:0px 5px;

  border-bottom: 1px solid #262626;
  
  font-size:14px;  
  line-height:19px;
}

form {
  margin:5px 0px;
}

.chat_input {
  height:28px;
  width: 80%;
  display: inline-block;
  padding-left:2px;

  border: solid 1px #7d7e7d;
  border-right:solid 1px #1a1a1a;
  border-radius: 0;
  outline: none;
  
  color: #EFEFEF;
  
  background: #1a1a1a;

}

button {
  min-width: 60px;
  width:20%;
  height: 28px;
  margin: 0px 0px;
  display: inline-block;

  border: solid 1px #7d7e7d;  
  border-radius: 0;
  box-shadow: none;
  outline: none;

  color: #EFEFEF;
  font-size: 11px;
  text-align: center;
  text-decoration: none;
  text-transform:uppercase;
  text-shadow: 
    1px   0px  1px #666,
    -1px   0px  0px #666,
    0px   1px  1px #666,
    0px  -1px  0px #666;
  white-space: nowrap;

  background: #7d7e7d; /* Old browsers */
  background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
}
button:hover {
  border-color: #606060;

  background: #45484d; /* Old browsers */
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
}
button:active {
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(top, #000000 0%, #45484d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(100%,#45484d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000000 0%,#45484d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000000 0%,#45484d 100%); /* Opera 11.10+ */
}

.username{
  font-weight:bold;
}

.time{
  font-size: 10px;
  color:#666;
  font-family: "Arial Narrow",Arial;
}
.chat_error{
  color:red;
}
.private{
  font-style:italic;
}
.command_button{
  width:10%;
  
}
.command_button button{
  width:72%;
  float: left;
}
.command_button input{
  width: 22%;
  float: right;
}
#buttons{
  height: 10%;
  width: 100%;
}
