.hidden{
	display: none;
}

.error{
	background-color: #ed4a65;
	padding:0;
	margin:0;
	padding-left: 4px;
	padding-right: 10px;
	margin-right: 10px;
	border: solid #eb2142 2px;
	display: inline-table;
	position: relative;
	opacity: 0;
	left: -100px;
}