.page{
	display: none;
	width: 250px;
}
.tabs{
    display: block;

    width:  90px;
    text-align: center;

    height:      24px;
    padding-top: 3px;
    vertical-align: middle;
	border: 1px solid black;
	border-bottom-width: 0;
	overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    
}

.selected{
    background-color: red;
}

#chatArea{
    border: 2px solid #777;
    width: 300px;
    height:100px;
    background-color: #888;
    border-radius: 4;
}

body{
    background-color: #333;
}

a:visited{
    color: #888;
}

a{
    text-decoration: none;
    color:#888;
}

.pages{
    border:1px solid black;
}

